<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745423035196-dob62ahr4f8mqs5lfmirgl58efrdd6nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745423035196-dob62ahr4f8mqs5lfmirgl58efrdd6nv</string>
	<key>API_KEY</key>
	<string>AIzaSyAWrEX-fXR-1qwwYVzvXijuVs0871BPoYY</string>
	<key>GCM_SENDER_ID</key>
	<string>745423035196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.jeffdev.bookstanis</string>
	<key>PROJECT_ID</key>
	<string>bookstanis</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstanis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745423035196:ios:bc5670a1f36d8599f29c39</string>
</dict>
</plist>